.contener-cripta{
    margin-top: 25px;
    margin-bottom: 105px;
    display: flex;
    border-radius: 31px;
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0.68),rgba(24, 24, 24, 0.68) 50%,rgba(60, 60, 60, 0.68) 100%);
    justify-content: space-around;
}  
.cripta-this{
    text-align: center;
    font-size: 30px;
    max-width: 657px;
    width: 100%;
    max-height: 441px;
    height: 100%;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
.contaner-information{
  margin-top: 71px;
  margin-right: 42px;
  display: flex;
  flex-direction: column;
}
.img-flex{
 display: flex; 
 justify-content: space-around;
}
.img{
  display: flex;
  max-width: 247px;
  width: 100%;
  max-height: 247px;
  height: 100%;
}

  /* container with crypto */
.crypto-price {

  padding-left: 20px;
  padding-right: 20px;
  border-radius: 31px;
  background: rgba(0, 0, 0, 0.493);
  font-size: 30px;
}

.crypto-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

}

.crypto-name {
  font-size: 30px;
}

.crypto-text {
  display: flex;
}


@media screen and (max-width: 1000px) {
  
  .pomosh {
      font-size: 20px;
    }
  
    .contener-flex {
      padding: 0 56px;
    }
  
    .footer-text {
      font-size: 18px;
    }
  
  
  
  .cripta-this {
    font-size: 17px;
  }
  .crypto-name {
    font-size: 20px;
  }
  .crypto-price {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .contaner-information {
    margin-top: 35px;
    margin-right: 10px;
    width: 100%;
    max-width: 370px;
  }
  .img {
    max-width: 150px;
  }
  .contener-cripta {
    height: 450px;
  }
}

@media screen and (max-width: 750px) {
  .img-many {
    display: none;
  }
  .cripta-this {
    font-size: 14px;
  }
  .contener-flex {
    padding: 0 20px;
  }
  .img {
    max-width: 130px;
  }
  .crypto-name {
    font-size: 15px;
  }
  .crypto-price {
    font-size: 15px;
  }
  .contaner-information {
    max-width: 240px;
  }


  .footer-text{
    font-size: 13px;
}
.text-cookie{
    height: 60px;
}
.footer-otvet{
    font-size: 20px;
}
.pomosh{
    font-size: 16px;
    width: 100%;
    max-width: 250px;
}
.telega{
    width: 46px;
    height: 32px;
}
.mail{
    width: 36px;
    height: 25px;
}
.nymber{
    width: 32px;
    height: 25px;
}
.pomosh-li{
    max-width: 55px;
    width: 100%;
    max-height: 55px;
    height: 100%;
}
.input-convertor{
    font-size: 18px;
}
}


@media screen and (max-width:450px){
  .contener-flex {
    padding: 0 10px;

  }
  .contaner-information {
    display: none;
  }
  .contener-cripta{
    background: linear-gradient(180.00deg, rgba(34, 137, 159, 0.68),rgba(144, 144, 144, 0.68) 48%,rgba(248, 59, 0, 0.68) 98.5%);
  }
  .section-Workspace {
    background: url('/img/fon/mobail-fon.png');
    background-size: 345px;
  }
  .crypto-name {
    color: black;
  }
  .crypto-price {
    color: black;
    background: linear-gradient(133.81deg, rgba(0, 209, 255, 0.18) 2.075%,rgba(0, 115, 140, 0.18) 49.569%,rgba(0, 0, 0, 0.18) 100%);
  }
  .pomosh {
    max-width: 225px;
  }
}