.section-Workspace{ 
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
    background: url('/img/fon/fon-glav.png');
    background-size: cover;

}

html {
    
    height: 100%;

}

body{
    
    height: 100%;
}

.contener-flex{

    padding: 0 156px;
    flex-direction: column;
    display: flex;
}



.contaner-reg{
    margin-top: 40px;

    flex-direction: column;
    display: flex;
    max-width: 622px;
    width: 100%;
    height: 611px;
    
    border-radius: 39px;
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0.68),rgba(24, 24, 24, 0.68) 50%,rgba(60, 60, 60, 0.68) 100%);
    align-items: center;
    justify-content: space-around;
}

.register-flex {
    display: flex;
    flex-direction: column;
    height: 400px;
    max-width: 477px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.registe {
    background-color: #8DA4C6;
    border-radius: 20px;
    max-width: 473px;
    max-height: 49px;
    width: 100%;
    height: 100%;
    border: 0px ;
    font-size: 20px;
    
}
.podval{
    display: flex;
    justify-content: space-between;
    background-size: cover;
    
}
.footer-text{
    font-size: 24px;
}
.text-cookie{
    max-width: 700px;
    width: 100%;
    height: 103px;
}
.text-info{
    max-width: 803px;
    height: 130px;
    width: 100%;
}
.text-div{
    width: 780px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.technical-support{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    border-radius: 28px;
    background: linear-gradient(180.00deg, rgb(9, 9, 11),rgb(32, 32, 32) 100%);
    width: 664px;
    height: 250px;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-evenly;
}
.footer-otvet {
    text-align: center;
    font-size: 36px;
    font-weight: 400;

}

.pomosh {
    width: 100%;
    max-width: 450px;
}

.pomosh-ul {
    display: flex;
    justify-content: space-around;
    height: 100%;
    max-height: 60px;
}
.pomoshi-li{
    border-radius: 20px;
    background-color: white;
    max-width: 60px;
    max-height: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
}

.conreiner2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 54px;
}

.registe-button {
    background-color: #8DA4C6;
    border-radius: 20px;
    font-size: 20px;
    max-width: 220px;
    width: 100%;
    height: 50px;
    border: 0px;
    margin-right: 40px;
}

.registr-buton_footer {
    display: flex;
    align-items: center;
}

.alternative-registr {
    max-height: 50px;
    color: #00D1FF;
}

.vhod-flex {
    justify-content: space-evenly;
}
.container-vhod {
    justify-content: space-evenly;
}

::placeholder {
    color: black;
}
.dialog {
    background-color: black;
    border-radius: 20px;
    border: 10px;
    border-color: #00D1FF;
}

.dialog__button {
    border-radius: 5px;
    background-color: #00D1FF;
}
@media screen and (max-width:1200px){
 

}
    

@media screen and (max-width: 1000px) {

  
   
        .pomosh{
            font-size: 20px;
        }
        .contener-flex{
            padding: 0 56px;
        }
        .footer-text{
            font-size: 18px;
        }
}

@media screen and (max-width: 750px){



   /* footer */
    .footer-text{
        font-size: 13px;
    }
    .text-cookie{
        height: 60px;
    }
    .footer-otvet{
        font-size: 20px;
    }
    .pomosh{
        font-size: 16px;
        width: 100%;
        max-width: 250px;
    }
    .telega{
        width: 46px;
        height: 32px;
    }
    .mail{
        width: 36px;
        height: 25px;
    }
    .nymber{
        width: 32px;
        height: 25px;
    }
    .pomosh-li{
        max-width: 55px;
        width: 100%;
        max-height: 55px;
        height: 100%;
    }
    .input-convertor{
        font-size: 18px;
    }

}
@media screen and (max-width:450px){

.contaner-reg {
        max-width: 354px;
        width: 100%;
        height: 510px;
    }

    .register-flex {
        max-width: 300px;
        width: 100%;
    }

    .section-Workspace {
        height: 100% auto;
        background: url('/img/fon/mobail-fon.png');



    }

    .contener-flex {
        padding: 0 5px;

    }

    /* footer */

    .text-cookie {

        display: none;
    }

    .technical-support {
        max-width: 310px;
        
        max-height: 129px;
       
    }
    .pomosh
    .vhod-button{
        margin-right: 20px;
    }
    .podval{
        flex-direction: column;
        align-items: center;
        max-height: 285px;
        height: 100%;

    }
    .footer-text{
        text-align: center;
        max-width: 337px;
        width: 100%;
        height: 100%;
    }
    .text-div {
        width: 300px;
    }
    .telega{
        width: 46px;
        height: 32px;
    }
    .mail{
        width: 36px;
        height: 25px;
    }
    .nymber{
        width: 32px;
        height: 25px;
    }
    .pomoshi-li{ 
        max-width: 55px;
        max-height: 55px;
    }
    .alternative-registr {
        font-size: 16px;
    }
    .pomosh {
        max-width: 225px;
    }
   }

@media screen and (min-height: 900px) {
    .section-Workspace {
        height: 100%;
    }
}