
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Public+Sans&display=swap');

body{
   
    height: 100%;
    margin: 0;
}
li {
    list-style-type: none;
    display: flex;
}
ul {
    display: flex;
    margin-left: 0;
    padding-left: 0;
    align-items: center;
  }


  /* header */
  
.HH-container{
  
    width: 100%;
    background-color: rgba(28, 28, 28, 89%);
    background-repeat: no-repeat;
	background-size: cover;
}

.shapka {
   
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
   
    align-items: center;
    
}
/* header logo */
.logo-heder {
    font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; 
	letter-spacing: 0.02px; 
	text-decoration: none;
}

.header__menu-item {
    display: flex;
}

.header__menu-item:not(:last-child) {
    padding-right: 104px;
}
/* heder register */
.register{
    display: flex;
    align-items: center;
}
.heder-reg{
   padding-right: 10px;
    font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px; 
	letter-spacing: 0.02px; 
	text-decoration: none;
}

.create-line {
    width: 100%;
    border-top: 3px solid white;
  }

/* contener */

.section-Workspace{ 
     flex-direction: column;
    align-content: flex-start;

    width: 100%;
    background: url('/img/fon/fon-glav.png');
    background-size: cover;

}


.contener-flex{
    align-items: center;
    padding: 0 156px  ;
}


/* footer */
.podval{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
  
    background: url('/img/fon/fon-podval.png');
    background-size: cover;
    
}

/* text */
.footer-text{
    font-size: 24px;
}
.text-cookie{
    width: 700px;
    height: 103px;
}
.text-info{
    width: 803px;
    height: 130px;
    
}
.text-div{
    width: 780px;

}
.technical-support{
    
    display: flex;
    border-radius: 28px;
    background: linear-gradient(180.00deg, rgb(9, 9, 11),rgb(32, 32, 32) 100%);
    width: 664px;
    height: 321px;
}
.footer-otvet {
    text-align: center;
    font-size: 36px;
    font-weight: 400;

}
